<html>
    <head>
        <title>Foodie</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    </head>
   <body class="landing">
       <nav class="navbar">
                <div id="navbar-title">  
                <a href="#">Foodie-<span><em>Your food ordering platform</em></span></a>
                </div>
                <%if(state==false){%> 
                 <div id="signdiv">
                   <a href="#">Sign In</a>
                 </div>
                <%}else{%>
                 <ul id="userlist">
                   <li><a href="#"><img src="/user.png"></a>
                     <ul>
                         <li><a href="/cart">My cart</a></li>
                         <li><a href="/orders">My orders</a></li>
                         <li><a href="/changepass">Change password</a></li>
                         <li><a href="/signout">Sign Out</a></li>
                      </ul>
                   </li>       
                 </ul>
                <%}%>
        </nav>
        <%if(msg&&msg.length>0){%>
         <div id="showmsg"><%=msg%></div>
         <%}%>        
     <%if(state==false){%> 
        <div class="formdiv1">
        </div>
       <%}%>      
    <div id="item-info">
       <img src="<%=food[0].photo%>">
       <p><strong>Name</strong> - <span><%=food[0].name%></span></p>
       <p><strong>Type</strong> -  <span><%=food[0].type%></span></p>
       <div id="placeorder">  
          <a href="/buy/<%=food[0].type%>/<%=food[0].name%>">Buy now</a>
       </div>
       <div id="add-to-cart">
           <a href="/addtocart/<%=food[0].type%>/<%=food[0].name%>">Add to cart</a>
       </div>
    </div>
    <%if(state==false){%>   
        <script src="/show1.js"></script>
      <%}%>
   </body>
</html>